@model IEnumerable<onlineShop.Models.EF.ChiTietHD>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdLayout.cshtml";
}

<h2>Details</h2>

<table class=" table table-hover" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoaDon.MaHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoaDon.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoaDon.MaNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back", "List", new { @MaKH = ViewBag.MaKH })
