@model onlineShop.Models.EF.PhanLoai

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdLayout.cshtml";
}

<h3>Bạn có muốn chắc chắn xoá không?</h3>


@using (Html.BeginForm("Delete", "PhanLoai", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PhanLoai</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MaPL)

        <div class="form-group">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MaPL)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaPL)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TenPL)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TenPL)
                </dd>
            </dl>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>
